.contact-form {
  width: 100%;
  max-width: 718px;
  max-height: 100%;
  box-sizing: border-box;
  border: 1px solid rgba(246, 246, 249, 0.2);

  background-color: $brown;

  transform: translate(-50%, -50%);

  transition: all 0.25s;
}

.contact-form__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.contact-form__bg-image {
  display: block;
  width: 335px;
  height: 444px;

  & img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.contact-form__fields {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  max-width: 249px;
  padding: 66px;
  margin: 0 auto;

  & p {
    margin: 22px 0 19px;

    font-size: 20px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.09em;
    text-transform: uppercase;
  }

  & input {
    outline: 0;
    min-width: 249px;
    margin: 8px 0;
    padding: 12px 22px;
    border: 1px solid rgba(246, 246, 249, 0.2);
    box-sizing: border-box;

    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #ffffff;

    background-color: $brown;
    box-shadow: none;

    &::placeholder {
      color: #ffffff;
    }
  }
}

.contact-form__close {
  @include button-reset;

  position: absolute;
  top: 24px;
  right: 24px;

  align-self: flex-end;

  width: 22px;
  height: 22px;

  outline: none;
  transition: all 0.25s;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;

    width: 31px;
    height: 2px;

    background-color: #ffffff;

    transition: all 0.25s;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(45deg);
    transform-origin: center;
  }

  &::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    transform-origin: center;
  }

  &:hover,
  &:focus {
    &::before {
      background-color: $green;

      transform: translate(-50%, -50%) rotate(45deg) scale(1.03);
      transform-origin: center;
    }

    &::after {
      background-color: $green;

      transform: translate(-50%, -50%) rotate(-45deg) scale(1.03);
      transform-origin: center;
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: darken($color: $green, $amount: 30%);
    }
  }
}

.contact-form__submit {
  width: 249px;
  margin-top: 8px;
  padding: 15px 61px;
  border: none;

  text-align: center;
  font-size: 11px;
  line-height: 12px;
  color: #000000;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  background-color: #ffffff;

  transition: all 0.25s;

  &:hover {
    color: #ffffff;

    background-color: #000000;
    outline: none;
  }

  &:active {
    color: #ffffff;

    background-color: #000000;
    outline: none;
    opacity: 0.5;
  }
}

// ! Планшетная версия

@media (max-width: $tablet-width) {
  .contact-form {
    max-width: 550px;
  }

  .contact-form__bg-image {
    display: none;
  }
}

// ! Мобильная версия

@media (max-width: $mobile-width) {
  .contact-form {
    max-width: 320px;
  }

  .contact-form__fields {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 66px 6.25%;

    & input {
      width: 100%;
      min-width: unset;
    }
  }

  .contact-form__submit {
    width: 100%;
  }
}
