.feature-page {
  min-height: 100vh;

  background-image: url("../img/rectangle.png");
  background-repeat: no-repeat;
  background-position: 3% 30px;
  background-size: 52% 94.5vh;
}

.feature-page__header {
  padding: 8vh 2% 5vh;
}

.feature-page__logo {
  width: 158px;
  height: 49px;

  outline: none;
}

@media (max-width: $tablet-width) {
  .feature-page {
    min-height: unset;

    background-image: none;
  }

  .feature-page__header {
    align-items: center;

    width: 89%;
    min-height: unset;
    padding: 30px 2% 35px;
  }

  .feature-page__logo {
    width: 137px;
    height: 47px;
  }

  .feature-page__menu-btn {
    align-self: baseline;
  }
}

@media (max-width: $mobile-width) {
  .feature-page__header {
    align-items: flex-start;

    width: 100%;
    padding: 16px 6.25% 20px;
  }

  .feature-page__logo {
    width: 96px;
    height: 29px;
  }
}
