.feature-page {
  position: relative;

  min-height: 1080px;

  background-image: url("../img/rectangle.png");
  background-repeat: no-repeat;
  background-position: 3% 30px;
  background-size: 52% 1021px;
}
