// * Menu
.menu {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  width: 93%;
  max-width: 1778px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 9vh 1%;
}

.menu__logo {
  width: 158px;
  height: 49px;
  margin-bottom: 9vh;

  outline: none;

  & svg {
    width: 100%;
    height: 100%;
  }

  &[href]:hover,
  &[href]:focus {
    & .menu__image {
      stroke: $green;
      color: $green;

      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;

      animation: draw 1.5s ease-in-out forwards;
    }
  }

  &[href]:active .menu__image {
    stroke: $green;
    color: $green;
    stroke-opacity: 0.5;

    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;

    animation: draw 1.5s ease-in-out forwards;
  }
}

.menu__image {
  width: 158px;
  height: 49px;

  fill: none;
  stroke: #ffffff;

  color: #ffffff;

  transition: all 0.25s;
}

.menu__socials {
  position: static;

  order: 1;
  align-self: flex-end;
  margin-bottom: 23.75vh;
  margin-right: 26.7%;
  margin-left: 0.3%;
}

.menu__container {
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 42%;
}

.menu__list {
  @include list-reset;

  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  padding: 2vh 0 7vh;
}

.menu__item {
  min-height: 13vh;
  margin-bottom: 20px;

  text-align: center;

  cursor: pointer;
}

.menu__link {
  font-size: 35px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;

  opacity: 0.5;

  transition:
    color linear 0.15s,
    font-size linear 0.15s,
    line-height linear 0.15s;

  &:hover,
  &:focus {
    color: $green;
    font-size: 45px;
    line-height: 50px;

    opacity: 1;
    outline: none;
  }

  &:active {
    color: $green;
    font-size: 45px;
    line-height: 50px;

    opacity: 0.3;
    outline: none;
  }
}

// ! Планшетная версия

@media (max-width: $tablet-width) {
  .menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 40px;
  }

  .menu__socials {
    display: none;
  }

  .menu__container {
    position: static;

    width: auto;
    padding-right: 0;
    padding-top: 5vh;

    transform: unset;
  }

  .menu__logo {
    width: 137px;
    height: 47px;
    margin-top: 25px;
    margin-bottom: 3vh;
  }

  .menu__list {
    padding: 5vh 0 3vh;
  }

  .menu__item {
    min-height: 12vh;
    margin-bottom: 20px;
  }

  .menu__link {
    &:hover,
    &:focus {
      font-size: 45px;
      line-height: 50px;
    }
  }
}

// ! Мобильная версия

@media (max-width: $mobile-width) {
  .menu {
    position: relative;

    padding: 25px;
    box-sizing: border-box;
  }

  .menu__container {
    order: 2;

    max-width: 245px;
    padding-top: 10vh;
  }

  .menu__logo {
    width: 90px;
    height: 29px;
    margin-top: 0;
    margin-bottom: 30px;
  }

  .menu__list {
    width: unset;
    padding: 5vh 0 3vh;
  }

  .menu__item {
    min-height: 80px;
  }

  .menu__link {
    margin-bottom: 50px;

    font-size: 15px;
    line-height: 17px;

    &:hover,
    &:focus {
      font-size: 25px;
      line-height: 28px;
    }

    &:active {
      font-size: 25px;
      line-height: 28px;
    }
  }

  .menu__social-links {
    display: none;
  }
}
