.page-header {
  width: 100%;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 90.1%;
  max-width: 1735px;
  margin: 0 auto;
  padding: 45px 2%;
}

// * Logo
.page-header__logo {
  width: 137px;
  height: 47px;
  margin-left: 5px;

  &[href]:hover .page-header__image,
  &[href]:focus .page-header__image {
    stroke: $green;
    color: $green;

    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;

    animation: draw 1.5s ease-in-out forwards;
  }

  &[href]:active .page-header__image {
    stroke: $green;
    color: $green;
    fill-opacity: 0.5;
    stroke-opacity: 0.5;

    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;

    animation: draw 1.5s ease-in-out forwards;
  }
}

.page-header__image {
  width: 100%;
  height: 100%;

  fill: none;
  stroke: #ffffff;

  color: #ffffff;

  transition: all 0.25s;
}

.page-header__btn {
  @include button-reset;
  @include forum;

  position: relative;
  z-index: 15;

  width: 80px;
  height: 22px;
  margin-top: 22px;
  padding-left: 38px;

  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: right;

  transition: transform 0.25s;

  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    color: $green;
  }

  &:active {
    color: $green;
    opacity: 0.4;
  }

  &--open {
    &::before {
      position: absolute;
      content: "";
      top: 6px;
      left: 0;

      display: block;
      width: 39px;
      height: 2px;

      background-color: #ffffff;
    }

    &::after {
      position: absolute;
      content: "";
      top: 15px;
      left: 0;

      display: block;
      width: 39px;
      height: 2px;

      background-color: #ffffff;
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: $green;
      }
    }

    &:active {
      &::before,
      &::after {
        background-color: $green;
        opacity: 0.4;
      }
    }
  }

  &--close {
    font-size: 0;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;

      width: 39px;
      height: 2px;

      background-color: #ffffff;

      transform-origin: center;
      transform: rotate(45deg) translate(4px, 11px);

      transition: all 0.25s;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;

      width: 39px;
      height: 2px;

      background-color: #ffffff;

      transform-origin: center;
      transform: rotate(-45deg) translate(-11px, 4px);

      transition: all 0.25s;
    }

    &:hover,
    &:focus {
      &::before,
      &::after {
        background-color: $green;
      }
    }

    &:active {
      &::before,
      &::after {
        background-color: $green;
        opacity: 0.4;
      }
    }
  }
}

// ! Планшетная версия

@media (max-width: $tablet-width) {
  .page-header__wrapper {
    align-items: center;

    width: 87%;
    padding: 36px 1.45%;
  }

  .page-header__logo {
    margin-left: 0;
  }

  .page-header__btn {
    width: 35px;
    margin: 0;
    padding: 0;

    font-size: 0;

    &--open {
      &::before {
        width: 35px;
      }

      &::after {
        width: 35px;
      }
    }

    &--close {
      &::before {
        width: 35px;
      }

      &::after {
        width: 35px;
      }
    }
  }
}

// ! Мобильная версия

@media (max-width: $mobile-width) {
  .page-header {
    min-height: 59px;
  }

  .page-header__wrapper {
    position: relative;
    top: 0;
    left: 0;

    align-items: center;

    width: 100%;
    padding: 15px 9%;
    box-sizing: border-box;

    background-color: $brown;
  }

  .page-header__logo {
    width: 86px;
    height: 29px;
  }
}

@import "../base/animation.scss";

