.services {
  min-height: 75vh;
}

.services-wrapper {
  display: grid;

  width: 100%;
  max-width: 1730px;
  margin: 0 auto;
  padding: 0 3.125%;
  box-sizing: border-box;
}

.services__bg-title {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;

  margin: 184px 0 0;

  font-size: 11vw;
  line-height: 243px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;

  opacity: 0.03;
}

.services__list {
  grid-column: 1;
  grid-row: 1;
  justify-self: center;
  z-index: 2;

  width: 100%;
  max-width: 1520px;
  padding: 0 10px;
  margin: 0 0 100px;
  box-sizing: border-box;

  text-align: center;

  & p {
    font-size: 16px;
    line-height: 170%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;

    opacity: 0.9;
  }

  & ul {
    @include list-reset;

    display: flex;
    flex-wrap: wrap;

    width: 100%;
    padding: 0;
  }

  & li {
    @include press;
    position: relative;
    flex-shrink: 0;

    width: 22%;
    height: 450px;
    margin: 30px 4% 30px 0;

    background-color: $brown;

    &:nth-child(4n + 4) {
      margin-right: 0;
    }
  }
}

.services__title {
  position: relative;

  margin: 170px 0 90px;
  font-size: 30px;
  line-height: 33px;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    bottom: -22px;
    left: 50%;

    width: 85px;
    border: 2px solid #ffffff;

    transform: translateX(-50%);
  }
}

.services__slide {
  outline: none;
}

.services__slide-img {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  & img {
    display: block;
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.services__button {
  @include press;
  @include button-reset;
  @include button-style;

  opacity: 0;

  height: 0;

  color: #000000;
  font-size: 0;

  background-color: #ffffff;

  transition: all 0.3s;
}

.services__link {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;
  height: 100%;

  text-decoration: none;

  transition: all 0.25s;

  &::before {
    @include center;

    display: none;

    width: 106%;
    height: 470px;

    border: 1px solid rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
  }

  & p {
    width: 88%;
    margin: auto 20px 15px;

    text-align: left;
  }

  &:hover,
  &:focus {
    outline: none;

    & .services__index {
      padding-left: 82px;

      &::before {
        left: 0;
      }
    }

    &::before {
      z-index: -1;
      display: block;
    }

    & .services__button {
      position: relative;
      z-index: 1;

      display: block;
      height: auto;
      padding: 18px 12.5%;
      margin: 5px auto 20px 20px;

      font-size: 12px;

      opacity: 1;

      &:hover {
        color: #ffffff;
        background-color: #000000;
      }

      &:active {
        color: #ffffff;

        background-color: #000000;

        opacity: 0.5;
      }
    }
  }
}

.services__index {
  position: relative;

  display: block;

  padding-right: 82px;

  margin: 36px 20px;

  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;

  opacity: 1;

  transition: all 0.25s;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;

    width: 70px;
    border: 1px solid #ffffff;

    transform: translateY(-50%);
  }
}

.services__pagination {
  display: none;
}

// ! Планшетная версия

@media (max-width: $tablet-width) {
  .services {
    min-height: unset;
  }

  .services-wrapper {
    display: block;

    width: 100%;
    padding-bottom: 30px;
  }

  .services__bg-title {
    display: none;
  }

  .services__list {
    position: relative;

    width: 727px;
    margin: 0 auto 16px;
    padding: 0 0 36px;

    & ul {
      justify-content: unset;
      width: 100%;
      margin: 0 auto;
    }

    & li {
      margin: 0 14px;
      width: 330px;
    }
  }

  .services__title {
    margin-top: 100px;
    margin-bottom: 52px;
  }

  .services__link {
    & span {
      display: block;
    }
  }

  .services__pagination {
    position: absolute;
    content: "";
    bottom: 14px;
    left: 50%;

    display: block;

    height: 4px;

    transform: translateX(-50%);
  }
}

// ! Мобильная версия

@media (max-width: $mobile-width) {
  .services__list {
    max-width: 288px;
    padding-bottom: 27px;

    & ul {
      justify-content: unset;
      flex-wrap: unset;
      width: auto;
    }

    & li {
      width: 288px;
      height: 392px;
      margin: 0;
    }
  }

  .services__title {
    align-self: flex-start;

    margin: 100px 0 20px;

    text-align: left;
    font-size: 20px;
    line-height: 170%;

    &::before {
      display: none;
    }
  }

  .services__link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    height: 100%;

    text-decoration: none;

    transition: all 0.25s;

    // &--bride.lazy-bg-loaded {
    //   background-image: url("../img/feature-1-mobile.jpg");
    //   background-image: image-set(url("../img/feature-1-mobile.webp")1x);
    //   background-repeat: no-repeat;

    //     @media (min-resolution: $retina-dpi),
    //     (min-resolution: $retina-dppx) {
    //       background-image: url("../img/feature-1-mobile@2x.jpg");
    //       background-image: image-set(url("../img/feature-1-mobile@2x.webp")2x);
    //       background-repeat: no-repeat;
    //     }
    // }

    // &--celebration.lazy-bg-loaded {
    //   background-image: url("../img/feature-2-mobile.jpg");
    //   background-image: image-set(url("../img/feature-2-mobile.webp")1x);
    //   background-repeat: no-repeat;

    //     @media (min-resolution: $retina-dpi),
    //     (min-resolution: $retina-dppx) {
    //       background-image: url("../img/feature-2-mobile@2x.jpg");
    //       background-image: image-set(url("../img/feature-2-mobile@2x.webp")2x);
    //       background-repeat: no-repeat;

    //     }
    // }

    // &--compositions.lazy-bg-loaded {
    //     background-image: url("../img/feature-3-mobile.jpg");
    //     background-image: image-set(url("../img/feature-3-mobile.webp")1x);
    //     background-repeat: no-repeat;

    //     @media (min-resolution: $retina-dpi),
    //     (min-resolution: $retina-dppx) {
    //       background-image: url("../img/feature-3-mobile@2x.jpg");
    //       background-image: image-set(url("../img/feature-3-mobile@2x.webp")2x);
    //       background-repeat: no-repeat;

    //     }
    // }

    // &--decor.lazy-bg-loaded {
    //   background-image: url("../img/feature-4-mobile.jpg");
    //   background-image: image-set(url("../img/feature-4-mobile.webp")1x);
    //   background-repeat: no-repeat;

    //     @media (min-resolution: $retina-dpi),
    //     (min-resolution: $retina-dppx) {
    //       background-image: url("../img/feature-4-mobile@2x.jpg");
    //       background-image: image-set(url("../img/feature-4-mobile@2x.webp")2x);
    //       background-repeat: no-repeat;
    //     }
    // }

    &::before {
      display: none;
    }

    &:hover,
    &:focus {
      &::before {
        display: none;
      }
    }

    &:active {
      &::before {
        display: none;
      }
    }

    & span {
      margin-top: 23px;
    }
  }

  .services__pagination {
    width: 90%;
  }
}
