body {
  display: flex;
  flex-direction: column;

  margin: 0;
  padding: 0;
  height: 100vh;
  min-width: 288px;

  font-family: "Forum", "Garamond", serif;
  font-weight: 400;
  color: #ffffff;

  background-color: $brown;
}

main {
  flex: 1 0 auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.btn {
  @include button-reset;
  @include press;

  display: inline-block;
  box-sizing: border-box;
  padding: 19px 30px;

  font-family: "Forum", "Garamond", serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  cursor: pointer;

  transition: all 0.25s ease-in-out;

  &--transparent {
    border: 1px solid #ffffff;

    color: #ffffff;

    &:hover,
    &:focus {
      background-color: #ffffff;

      color: #000000;

      outline: none;
    }

    &:active {
      background-color: #ffffff;

      color: #000000;

      opacity: 0.4;
      outline: none;
    }
  }

  &--white {
    border: none;

    color: #000000;

    background-color: #ffffff;

    &:hover,
    &:focus {
      color: #ffffff;

      background-color: #000000;
      outline: none;
    }

    &:active {
      color: #ffffff;

      background-color: #000000;
      outline: none;
      opacity: 0.5;
    }
  }

  &--black {
    border: none;

    color: #ffffff;

    background-color: #000000;
    outline: none;

    &:hover,
    &:focus {
      color: #000000;

      background-color: #ffffff;
      outline: none;
    }

    &:active {
      color: #000000;

      background-color: #ffffff;
      opacity: 0.5;
    }
  }
}

.btn-rnd {
  @include button-reset;

  position: absolute;
  content: "";
  z-index: 3;

  width: 46px;
  height: 46px;
  background-origin: border-box;
  border: 1px solid #ffffff;
  border-radius: 50%;

  background-color: rgba($color: #000000, $alpha: 0.4);

  transform: translate(-50%, -50%);

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ffffff;

    outline: none;
  }

  &:active {
    background-color: #ffffff;

    outline: none;
    opacity: 0.4;
  }

  &--prev {
    top: 50%;
    left: 0;

    display: none;

    &::before,
    &::after {
      @include center;

      width: 5.5px;
      height: 1px;

      background-color: #ffffff;

      transform-origin: left;
    }

    &::before {
      transform: translate(-40%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-40%, -50%) rotate(-45deg);
    }
  }

  &--next {
    top: 50%;
    left: 100%;

    &::before,
    &::after {
      @include center;

      width: 5.5px;
      height: 1px;

      background-color: #ffffff;

      transform-origin: right;
    }

    &::before {
      transform: translate(-40%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-40%, -50%) rotate(-45deg);
    }
  }

  &--prev,
  &--next {
    transition: all 0.25s ease-in-out;

    &:hover,
    &:focus {
      background-color: #ffffff;

      &::before,
      &::after {
        background-color: #000000;
      }
    }
  }
}

.menu-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  min-width: 300px;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  background: $brown;

  &--shown {
    display: block;
    width: 100vw;
    min-height: 100vh;
    opacity: 1;
    visibility: visible;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;

  display: none;

  opacity: 0;

  transform: translate(-50%, -50%);

  transition: all 0.25s;

  &--open {
    display: block;

    opacity: 1;
  }
}

.modal-success {
  @include center;

  position: fixed;
  z-index: 22;

  display: none;
  width: 40%;
  padding: 3vh 1vh;

  font-size: 30px;
  line-height: 170%;
  text-align: center;

  background: rgba(0, 0, 0, 0.4);
}

.modal-overlay {
  position: fixed;
  z-index: 21;
  content: "";
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  min-height: 100%;

  background: rgba(0, 0, 0, 0.4);
}
