extends ../layout/card.pug

block variables
  - var title = 'Композиции и шляпные коробки'
  - var footerAddClass = 'feature-page__footer'
  - var cardBg = 'card-3'
  - var cardBgText = 'Композиции и шляпные коробки'
  - var cardSlides = ['card-3-slide-1', 'card-3-slide-2', 'card-3-slide-3', 'card-3-slide-4', 'card-3-slide-5', 'card-3-slide-6', 'card-3-slide-7', 'card-3-slide-8']

block card
  h1.card__title.card__title--compositions Композиции и шляпные коробки
  p.card__desc.card__desc--compositions
    | Композиции могут собираться в&nbsp;любой таре: корзинке, шляпной коробке, вазочке или декоративных ящиках. Их&nbsp;нет необходимости ставить в&nbsp;вазу, как букеты, потому что цветы питаются при помощи специальной флористической губки под названием оазис.
    | Композиции очень удобные для подарка, или оформления мероприятия.
