extends ../layout/card.pug

block variables
  - var title = 'Оформление мероприятий'
  - var footerAddClass = 'feature-page__footer'
  - var cardBg = 'card-4'
  - var cardBgText = 'Оформление мероприятий'
  - var cardSlides = ['card-4-slide-1', 'card-4-slide-2', 'card-4-slide-3', 'card-4-slide-4', 'card-4-slide-5', 'card-4-slide-6', 'card-4-slide-7', 'card-4-slide-8']

block card
  h1.card__title Оформление мероприятий
  p
    | Мы&nbsp;оформим любое мероприятие в&nbsp;выбранном вами стиле. Рождественские, хехоуин, день рождение или любое другое мероприятие могут превратиться в&nbsp;настоящую сказку, всего лишь благодаря оформлению.
    | Полную коллекцию оформлений в&nbsp;разнообразных стилях вы&nbsp;можете посмотреть в&nbsp;нашем инстаграмме.
