extends ../layout/card.pug

block variables
  - var title = 'Букеты на мероприятия'
  - var footerAddClass = 'feature-page__footer'
  - var cardBg = 'card-1'
  - var cardBgText = 'Букеты на мероприятия'
  - var cardSlides = ['card-1-slide-1', 'card-1-slide-2', 'card-1-slide-3', 'card-1-slide-4', 'card-1-slide-5', 'card-1-slide-6', 'card-1-slide-7', 'card-1-slide-8']

block card
  h1.card__title.card__title--events Букеты на мероприятия
  p.card__desc.card__desc--events
    | У&nbsp;нас есть огромное разноообразие букетов на&nbsp;любое событие. <br>
    | Вы&nbsp;сможете приобрести как нежный букет, так и&nbsp;яркий, а&nbsp;также мужские, круглые, вертикалье, веерообразные, букеты-зонтики, букеты в&nbsp;вегетативной технике и&nbsp;много других экзотических видов.
