include variables.pug
include mixins.pug
section.campaigns
  .campaigns__wrapper
    h2 Акционные предложения
    p При заказе свадебного оформления предоставляется скидка на букет невесты и бутоньерку в размере 30%
    a заказать оформление
    +picture("campaigns-bg", "campaigns-bg-tablet", "campaigns-bg-mobile", "Оформление мероприятий", "campaigns__image")
