footer.page-footer
  .page-footer__wrapper
    .page-footer__nav
      ul
        li
          a.page-footer__link(href='#') Свадебная флористика
        li
          a.page-footer__link(href='#') Букеты на любые мероприятия
        li
          a.page-footer__link(href='#') Букеты невесты
        li
          a.page-footer__link(href='#') Композиции
        li
          a.page-footer__link(href='#') Оформление мероприятий
    .page-footer__socials
      include socials.pug
