header.page-header.lazy-bg-loaded
  .page-header__wrapper.page-header__wrapper--top
    a.page-header__logo
      svg.page-header__image
        use(xlink:href="img/sprite_auto.svg#logo")
    .overlay
      include menu
    button.page-header__btn Меню
  .page-header__wrapper.page-header__wrapper--bottom
    div.page-header__social-links.social-links
      include socials
    .page-header__promo
      h1.visually-hidden Весна всегда - цветы, аксессуары, настроение
      strong Флористика с душой
      a(href="gallery.html") Смотреть работы
    a.page-header__scroll
      span cмотреть каталог
