header.page-header.lazy-bg
  .page-header__wrapper.page-header__wrapper--top
    a.page-header__logo
      svg.page-header__image
        use(xlink:href='img/sprite_auto.svg#logo')
    .menu-overlay
      include menu.pug
    button.page-header__btn Меню
  .page-header__wrapper.page-header__wrapper--bottom
    .page-header__social-links.social-links
      include socials.pug
    .page-header__promo
      h1.visually-hidden(aria-hidden='true') Весна всегда - цветы, аксессуары, настроение
      strong Флористика с душой
      a(href='gallery.html') Смотреть работы
    a.page-header__scroll(tabindex='0')
      span cмотреть каталог
