doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= 'Весна Всегда'
    link(rel='stylesheet preload', href='css/style.min.css', as='style')
    link(rel='preload', href='fonts/forum-v10-cyrillic-regular.woff2', as='font', crossorigin='anonymous')
    link(rel='preload', href='fonts/forum-v10-cyrillic-regular.woff', as='font', crossorigin='anonymous')
    script(defer, src='https://polyfill.io/v2/polyfill.min.js?features=IntersectionObserver', crossorigin='anonymous')
    script(defer, src='https://cdnjs.cloudflare.com/ajax/libs/svgxuse/1.2.6/svgxuse.min.js')
  body
    block content
