nav.menu
  .menu__social-links.social-links
    include socials.pug
  .menu__container
    a.menu__logo
      svg.menu__image
        use(xlink:href='img/sprite_auto.svg#logo-menu')
    ul
      li
        a.menu__link(href='#') Свадебная флористика
      li
        a.menu__link(href='#') Букеты на любые мероприятия
      li
        a.menu__link(href='#') Композиции
      li
        a.menu__link(href='#') Оформление мероприятий
  button.menu__btn
    span.visually-hidden закрыть меню
