extends layout/main.pug

block content
  include layout/header.pug
  main
  include layout/services.pug
  include layout/campaigns.pug
  script(src='js/vendor.js', defer)
  script(src='js/main.js', defer)
