section.banner
  .banner__wrapper
    .banner__social-links.social-links
      include socials.pug
    .banner__promo
      h1.visually-hidden(aria-hidden='true') Весна всегда - цветы, аксессуары, настроение
      strong Флористика с душой
      a.btn.btn--transparent(href='gallery.html') Смотреть работы
    a.banner__scroll(href= '#')
      span cмотреть каталог
