footer.page-footer(class= footerAddClass)
  .page-footer__wrapper
    .page-footer__nav
      ul.page-footer__list
        li.page-footer__item
          a.page-footer__link(href='wedding.html', aria-label= 'Свадебная флористика') Свадебная флористика
        li.page-footer__item
          a.page-footer__link(href='events.html', aria-label= 'Букеты на любые мероприятия') Букеты на любые мероприятия
        li.page-footer__item
          a.page-footer__link(href='#', aria-label= 'Букеты невесты') Букеты невесты
        li.page-footer__item
          a.page-footer__link(href='compositions.html', aria-label= 'Композиции') Композиции
        li.page-footer__item
          a.page-footer__link(href='decoration.html', aria-label= 'Оформление мероприятий') Оформление мероприятий
        li.page-footer__item
          a.page-footer__link(href='gallery.html', aria-label= 'Галерея') Галерея
    .page-footer__socials
      include ../section/socials.pug
