footer.page-footer(class= footerAddClass)
  .page-footer__wrapper
    .page-footer__nav
      ul
        li
          a.page-footer__link(href='wedding.html', aria-label= 'Свадебная флористика') Свадебная флористика
        li
          a.page-footer__link(href='events.html', aria-label= 'Букеты на любые мероприятия') Букеты на любые мероприятия
        li
          a.page-footer__link(href='#', aria-label= 'Букеты невесты') Букеты невесты
        li
          a.page-footer__link(href='compositions.html', aria-label= 'Композиции') Композиции
        li
          a.page-footer__link(href='decoration.html', aria-label= 'Оформление мероприятий') Оформление мероприятий
    .page-footer__socials
      include ../section/socials.pug
