header.page-header
  .page-header__wrapper(class= headerClass)
    a.page-header__logo(href=(headerHref ? headerHref : false))
      svg.page-header__image
        use(xlink:href='img/sprite_auto.svg#logo')
    .menu-overlay
      include menu.pug
    button.page-header__btn.page-header__btn--open(aria-label= 'Закрыть меню') Меню
