header.page-header
  .page-header__wrapper
    a.page-header__logo
      svg.page-header__image
        use(xlink:href='img/sprite_auto.svg#logo')
    .menu-overlay
      include menu.pug
    button.page-header__btn(aria-label= 'Закрыть меню') Меню
