- var socialArr = [{link: "#", id: "icon-insta", mod: "insta", aria: "Весна всегда в instagram"}, {link: "#", id: "icon-fb", mod: "fb", aria: "Весна всегда в facebook"}, {link: "#", id: "icon-whatsapp", mod: "whatsapp", aria: "Весна всегда в whatsapp"}, {link: "#", id: "icon-vk", mod: "vk", aria: "Весна всегда в vk"}]

ul
  for i in socialArr
    li
      a.social-links__link(href=i.link, class="social-links__link--" + i.mod, aria-label= i.aria)
        svg(width='26', height='26')
          use(xlink:href="img/sprite_auto.svg#" + i.id)
