.modal-slider.modal(aria-hidden= 'true')
  .swiper-container.swiper3.modal-slider__wrap
    ul.swiper-wrapper.modal-slider__list
  .modal-slider__controls
    button.btn-rnd.btn-rnd--prev.modal-btn.modal-btn--prev
    button.btn-rnd.btn-rnd--next.modal-btn.modal-btn--next
  button.modal-slider__close-btn
.modal-overlay(aria-hidden= 'true')
