template.modal-slider(id='modal-slider-template')
  picture.modal-slider__picture
    source(type='image/webp', data-srcset='')
    img.lazy(src='img/placeholder.jpg', data-srcset='', data-src='', alt='')
