doctype html
html(lang="rus")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= "Весна Всегда"
    link(rel="stylesheet preload" href="css/style.min.css" as="style")
    link(rel="preload" href="fonts/forum-v10-latin-regular.woff2" as="font" crossorigin="anonymous")
    link(rel="preload" href="fonts/forum-v10-latin-regular.woff" as="font" crossorigin="anonymous")
  body
    include layout/header

