extends ../layout/main.pug

block variables
  - var title = 'Весна Всегда, флористика с душой'

block content
  //
    - Intro
  include ../section/intro.pug
    //
      - Header
    include ../section/header.pug
    //
      - Banner
    include ../section/banner.pug
  main
    //
      - Services
    include ../section/services.pug
    //
      - Campaigns
    include ../section/campaigns.pug
    //
      - Contact-form
    include ../section/contact-form.pug
