extends ../layout/card.pug

block variables
  - var title = 'Букеты невесты и свадебное оформление'
  - var footerAddClass = 'feature-footer'
  - var cardBg = 'card-2'
  - var cardBgText = 'Букеты невесты и свадебное оформление'
  - var cardSlides = ['card-2-slide-1', 'card-2-slide-2', 'card-2-slide-3', 'card-2-slide-4', 'card-2-slide-5', 'card-2-slide-6', 'card-2-slide-7', 'card-2-slide-8']

block card
  h1.card__title.card__title--wedding Букеты невесты и свадебное оформление
  p.card__desc.card__desc--wedding
    | Свадьба&mdash;самое важное событие в&nbsp;жизни молодожен. Поэтому каждый из будущих супругов хочет, чтобы на&nbsp;торжестве все было идеально. Наша компания превзойдет ваши ожидания по&nbsp;красоте,<br> качеству и&nbsp;лояльному ценнику. Обращаясь к&nbsp;нам, вы&nbsp;можете не переживать за&nbsp;оформление вашей свадьбы.
